*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	background-color: #03a9f4;
	transition: 0.6s;
}
body.active{
	background-color: #f43648;
}
.container{
	position: relative;
	width: 800px;
	height: 500px;
	margin: 20px;
	

}

.bluebg{
	position: absolute;
	top: 40px;
	width: 800px;
	height: 500px;
	display: flex;
	justify-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 5px 45px rgba(0, 0, 0, .15);
}

.bluebg .box{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.bluebg .box h2{
	color: #fff; 
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 10px;
}
.bluebg .box button{
	cursor: pointer;
	padding: 10px 20px;
	background-color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
}

.formbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #fff;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 45px rgba(0, 0, 0, .25);
	transition: 0.6s ease-in-out;
	overflow: hidden;
}
.formbx.active{
	left: 50%;
}

.formbx .form{
	position: absolute;
	left: 0;
	width: 100%;
	padding: 20%;
	transition: 0.6s;

}
.formbx.active .signinForm{
	left: -100%;
	transition-delay: 0s;
}
.formbx .signinForm{
	transition-delay: 0.25s;
}
.formbx .signupForm{
	left: 100% ;
}
.formbx.active .signupForm{
	left: 0;
}

.formbx .form form{
	width: 100%;
	display: flex;
	flex-direction: column;

}
.formbx .form form h3{
	font-size: 1.5em;
	color: #333;
	margin: 20px;
	font-weight: 500;

}
.formbx .form form input{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	outline: none;
	font-size: 16px;
	border: 1px solid #333;
}
.formbx .form form input[type="submit"]{
	background-color: #03a9f4;
	border: none;
	color: white;
	max-width: 100px;
	cursor: pointer;
}

.formbx .form form .forgot{
	color: #333;
}

.formbx.active .signupForm input[type="submit"]{
	background-color: #f43648;
}
@media (max-width: 991px){
	.container{
		max-width: 400px;
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	container.bluebg{
		top: 0;
		height: 500px;	
	}
	.formbx{
		width: 100%;
		height:400px;
		top: 300px;
		box-shadow: none;

	}
	.bluebg .box{
		
		width: 100%;
		height: 150px;
		bottom: 0;

	}
	.box.signin{
		top: 0;

	}
	.formbx.active{
		left: 0;
		top: 250px;
	}

	.bluebg img{
		height: 10px;
	}

}

.bluebg img{
	height: 180px;
}

.bluebg a{
	text-decoration: none;
	padding: 10px;
	color: #333;
	font-family: sans-serif;
}